body {
    background-image: url(../img/dice.jpg);
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.dicegame {
    background-color: #121212;
    background-size: 100%;
    background-repeat: no-repeat;
}

.heading {
    color: #ff7474;
    font-size: 50px;
}

.formation-player1 {
    background-color: #535557;
}

#display-die-player1 {
    /*die1*/
    color: #64fc36;
}

#display-dice-player1 {
    /*dice1*/
    margin-top: 50px;
}

.die-player1 {
    padding-top: 50px;
    color: #ffc04d;
}

.button-roll-player1 {
    margin-top: 0px;
}
#display-dice-player2 {
    /*dice2*/
    margin-top: 50px;
}
#display-die-player2 {
    /*die2*/
    color: #7aff52;
}

.die-player2 {
    padding-top: 50px;
    color: #ffc04d;
}

.button-roll-player2 {
    margin-top: 0px;
}

.button-roll-player1 {
  background-color: white;
  color: green;
  border: 1px solid #f44336;
  width: 150px;
  height: 50px;
}

.button-hold-player2 {
  background-color: white;
  color: red;
  border: 1px solid #f44336;
  width: 150px;
  height: 50px;
}

.button-hold-player1 {
  background-color: white;
  color: red;
  border: 1px solid #f44336;
  width: 150px;
  height: 50px;
}

.button-roll-player2 {
  background-color: white;
  color: green;
  border: 2px solid #f44336;
  width: 150px;
  height: 50px;
}

.button-score-players {
  background-color: white;
  color: orange;
  border: 1px solid #f44336;
  width: 150px;
  height: 50px;
}

.display-result1 {
    color: #7aff52;
}

.display-result2 {
    color: #7aff52;
}
